
.container-fluid.bg-signup {
  position: relative;
  z-index: 11;
}
.toggleIcon i {
  font-size: 20px;
  color: #F9E278;
  margin-top: 5px;
.navbar-toggler {
  padding: 3px;
  font-size: 0.95rem;
  line-height: 1;
  background-color: #448b3e;
.navbar-brand img.img-fluid {
  height: 40px;
a.btn.btn-blue {
  background: #131D36;
  color: #fff;
  padding: 0.275rem 1.75rem;
a.nav-link.active {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
.box-layout {
  border-radius: 4px;
  margin-top: 3.5rem;
.deco-none {
  text-decoration: none;
.modal-header {
  border-bottom: none;
button.close {
  border: 0;
  background: #131d36;
header a.nav-link.active {
  font-size: 22px;
.table>:not(:first-child) {
  border-top: 2px solid transparent;
.icon-center {
  align-items: center;
  justify-content: center;
  display: flex;
.bg-light-black {
  background: #222223;
.userProfile {
  width: 38px;
img.rounded {
  display: inline-flex;
  float: left;
.end {
  justify-content: end;
.light-yellow {
  color: #F9E278 !important;
.plus-icon-color {
  color: #FFF;
  font-size: 26px;
.font-22 {
.py-layout {
  padding-top: 3.8rem;
  padding-bottom: 0.7rem;
  height: 100vh;
.showlat {
  width: 18px;
.bg-violet {
  background: #64517C;
.pageContent {
  padding-top: 7rem;
option {
  display: block;
  width: 100%;
.mr-rem {
  margin-right: 0.5rem;
#map {
  height: calc(100vh - 116px);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background: #fff;
  opacity: 1;
.logotxt {
.logotxt1 {
  font-size: 16px;
.box-layout-page {
  margin-top: 4rem;
.navbar-nav {
  flex-direction: row;
.logo-info {
  width: 58px;
  top: -2.5px;
.d-center {
.bg-black-view {
  background-image: linear-gradient(147deg, #069d5bf7 30%, #049f5b 94%);
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
.card {
  border-radius: 37px 21px;
  background: #ffffffb1;
.custom-pad {
  padding: 0.35rem 1.5rem !important;
.txt-blue {
  color: #60945a !important;
.text-none {
.btn-radius {
  border-radius: 13px 19px;
.group-color .form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent !important;
.bg-blue {
  
  background-image: linear-gradient(147deg, #069d5bb0 0%, #049f5bb0 74%);
.bg-color {
  background-image: linear-gradient(147deg, #3c9b77c2 0%, #47c29ab0 74%);
.logo-web {
  width: 68px;
.select-pad {
  padding-top: 0.21rem;
  padding-bottom: 0.21rem;
thead {
  background: #5cb2de;
  border-color: transparent;
td,
th {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  vertical-align: middle;
tr:nth-child(even) {
  background: #e6f7ff;
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0px;
  border-radius: 49px 17px;
.bg-footer {
.offcanvas-bottom {
  height: 32vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #f3f4fd 0%, #f6f5ff 74%);
.nav-block {
  flex-direction: inherit;
@media (max-width: 767px) and (min-width: 564px) {
  .web-view .navbar-nav {
    flex-direction: row !important;
    width: 100%;
    float: left;
    margin-top: -2.5rem;
  }
@media (max-width: 545px) {
  .canvas-field {
    width: auto !important;
    float: initial !important;
  .web-view .mob-col .col {
    flex: initial;
    margin-bottom: 15px;
  .web-view .mb5 {
    margin-bottom: 3rem;
  .web-view .mob-views {
    display: block;
  .web-view .no-mob-view {
    display: none;
@media (min-width: 546px) {
@media (max-width: 991px) and (min-width: 768px) {
  .web-view .navbar-expand-md .navbar-nav {
    justify-content: flex-start;
  .web-view .mob-col {
    margin-top: 7rem !important;
  .web-view #map {
    margin-top: 1.5rem;
    display: inline-flex;
.form-select:focus,
.form-control:focus {
  border-color: transparent !important;
  outline: 0 !important;
textarea.form-control {
  background: rgba(178, 245, 172, 0.3) !important;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000 !important;
  background: #1E2F46;
.bg-dark-color {
  background: linear-gradient(180deg, #233857 0%, #254557 100%);
.fwrap {
  flex-wrap: initial !important;
.bg-login {
.txt-orange {
  color: #FF9A02
.login-pg .roundIcon {
  border-radius: 100%;
  width: 46px;
  height: 46px;
  display: inline-block;
.login-pg .roundIcon img {
  margin-top: 6px;
.font32 {
  font-size: 32px;
.bg-light-dark {
  background: #1e2f4640;
.half-card {
  margin-bottom: -2.5rem !important;
.v-center {
  height: 80vh !important;
.box-para {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.71) !important;
.box-heading {
  font-style: normal; 
  font-size: 19px;
  line-height: 23px;
.logoMd {
  width: 184px;
.logo-txt-signup {
  font-size: 18px;
  line-height: 22px;
  color: #FF9A02;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
.bg-signup .form-control {
    
    border-radius: 4px;
    border: 0;
    color: rgba(0, 0, 0, 0.71);
    font-family: 'Inter';
.bg-signup .form-control:focus {
.bg-signup .input-group-text {
.bg-signup ::-webkit-input-placeholder {
  opacity: 0.75;
.bg-signup :-ms-input-placeholder {
.bg-signup ::placeholder {
.signup-hdr {
  line-height: 19px;
  margin-top: -2rem !important;
  width: 55%;
  margin: 0px auto;
  padding: 4px;
.floating-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  box-shadow: 0px 0 25px rgb(0 0 0 / 37%);
.floating-menu input {
  position: absolute;
  margin: 0;
  opacity: 0;
  cursor: pointer;
.floating-menu input:checked~.floating-nav li:nth-child(1) {
  transform: translatey(-48px);
  background: #0e76a8;
.floating-menu input:checked~.floating-nav li:nth-child(2) {
  transform: translatey(-88px);
  background: #1da1f2;
.floating-menu input:checked~.floating-nav li:nth-child(3) {
  transform: translatey(-128px);
  background: #ff0000;
.floating-menu input:checked~.floating-nav li:nth-child(4) {
  transform: translatey(-168px);
  background: #4e88ff;
.floating-menu input:checked~.floating-nav li:nth-child(5) {
  transform: translatey(-208px);
  background: #5851db;
.floating-menu input:checked~.floating-nav li:nth-child(6) {
  transform: translatey(-248px);
.floating-menu input:checked~.floating-nav li:nth-child(7) {
  transform: translatey(-288px);
  background: #4381ff;
.floating-menu input:checked~.floating-nav li:nth-child(8) {
  transform: translatey(-328px);
.floating-menu input~.plus-icon {
  transform: rotate(0);
.floating-menu>.plus-icon {
  font-size: 24px;
  color: #ffffff;
  background: #00953c !important;
  transition: all 0.5s ease;
  pointer-events: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
.floating-menu>.floating-nav {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
.floating-menu>.floating-nav li {
  width: 35px;
  height: 35px;
  background: orange;
.floating-menu>.floating-nav li span {
.floating-nav a.text-white {
.half-card .input-group img {
  width: 26px;
  height: 26px;
.font12 {
  font-size: 12px;
.frgtPwd {
  background: linear-gradient(to right, rgb(59 87 152), rgb(53 105 189));
.frgtPwd span.input-group-text,
.frgtPwd input.form-control {
  background: #243B58;
@media(min-width: 768px) {
  .container-fluid.bg-signup {
    position: relative;
    z-index: 11;
   
  .center {
    text-align: left !important;
.canvas-field {
  width: 17%;
.center {
#snackbar {
  visibility: hidden;
  border-radius: 7px;
  padding: 9px;
  z-index: 999;
  left: 0.5rem;
  bottom: 10px;
  font-size: 17px;
  max-width: 95%;
  margin: 0px auto !important;
  width: 95%;
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  to {
    bottom: 30px;
    opacity: 1;
@keyframes fadein {
@-webkit-keyframes fadeout {
@keyframes fadeout {
.curve {
    position: absolute;
    top: 0;
    object-fit: initial;
} 
.logo-txt {
  background: linear-gradient(108.25deg, #49BD13 0%, #48872B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 600;
.logo-des {
    font-weight: 400;
    color: #000000;
    opacity: 0.9;
    line-height: 1.2;
    font-size: 15px;
.bg-btn-green {
  background: linear-gradient(91.21deg, rgba(78, 151, 76, 0.88) 0%, rgba(38, 132, 59, 0.81) 100%);
  border-radius: 3.5px;
.footerImg {
    width: 32px;
.footer-infos p {
    font-size: 13px;
    margin-bottom: 0;
.footer-infos {
    bottom: 1rem;
    width: 95%;
    margin: 0px auto !important;
    left: 0.5rem;
.otp-des {
    font-size: 14px;
.submit-no {
    width: 85%;
    margin: 0px auto;
.submit-no input.form-control {
   background: #ffffff;
       border-radius: 3.5px;
       color: #212529;
       border: 4px solid #d3f1c2;
       font-size: 20px;
       font-weight: 600 !important;
.submit-no ::-webkit-input-placeholder {
  color: rgb(255 255 255 / 95%) !important;
.submit-no :-ms-input-placeholder {
.submit-no ::placeholder {
}  
.lg-green{
      color: #699547;
.back-icon {
    left: 5px;
.back-icon i {
    color: #488D27;
    font-size: 26px;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
input[type=number] {
  -moz-appearance: textfield;
img.img-fluid.logo {
    height: 100px;
@media(max-width: 768px) {
  .curve {
    object-fit: cover !important;
    height: 100vh !important;
.nav h3 {
    font-size: 17px;
@media (max-width: 1068px) and (min-width: 768px) {
@media (max-width: 768px) and (min-width: 375px) {
    top: 15px;